* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0px;
}
.header {
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    padding: 5px;
    min-height: 90vh;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 85%,
      75% 85%,
      50% 100%,
      25% 85%,
      0% 85%
    );
}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.description {
  margin-bottom: 10px;
}

