---
import Cards from "../components/Cards.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Welcome />
  <main class="w-full mx-auto lg:w-[940px]">
    <h1 class="text-4xl font-bold text-center text-yellow-200">Proyectos</h1>
    <Cards />
  </main>
</Layout>
